.page-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0;
}

.page-link {
  padding: 10px;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
}

.on-current {
  color: white;
  background: coral;
}

.postPagePagination-lists {
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.postPagePagination-lists li {
  list-style: none;
  width: 30%;
}

.postPagePagination-lists li a {
  text-decoration: none;
}

.postPagePagination-lists li:nth-child(2) {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .postPagePagination-lists {
    display: block;
  }
  .postPagePagination-lists li {
    width: 100%;
  }
}
