.tag-name {
  display: inline-block;
  background-color: white;
  color: coral;
  border: 0.5px solid coral;
  text-decoration: none;
  font-size: 11px;
  padding: 0 8px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  line-height: 1rem;
}
